{% extends 'theme.html' %}
{% load static %}
{% block body %}
<style>
    .new-password-css {
        height: 800px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 50px;
        border-radius: 12px;
    }
</style>
<div class="container mt-5 new-password-css">
    <h1 class="mb-4">New Password</h1>
    <form method="post" class="needs-validation" novalidate action="set-password">
        {% csrf_token %}
        <input type="hidden" name="verification_key" value="{{ verification_key }}">
        <div class="form-group">
            <label for="id_password">New Password</label>
            <input type="password" class="form-control" id="id_password" name="password" required>
            <div class="invalid-feedback">
                Please provide a new password.
            </div>
        </div>
        <div class="form-group">
            <label for="id_confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="id_confirm_password" name="confirm_password" required>
            <div class="invalid-feedback">
                Please confirm the password.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Set New Password</button>
    </form>
</div>
<!-- Enable form validation with Bootstrap -->
<script>
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
</script>
{% endblock body %}